* {box-sizing: border-box;}

:root {
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Very-dark-blue-main-BG);
}

.container a {
    color: var(--White);
    font-size: 23px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
}

.container a:hover {color: var(--Cyan);}

footer span a {font-size: initial !important;}

p {color: var(--Soft-blue);line-height: 1.5;}

.container {
    width: max(320px, 60%);
    padding: 20px;
    overflow: hidden;
    margin: 50px 0;
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: 15px;
    box-shadow: 0 20px 20px hsl(215, 48%, 10%),
    0 40px 40px hsl(215, 49%, 7%);
}

picture {position: relative;width :100%;display: block;}

picture img {
    border-radius: 8px;
    width: 100%;
    display: block;
    height: auto;
    backface-visibility: hidden;
}

picture .svg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s;
    background-color: transparent;
}

picture .svg-container:hover {background-color: rgba(0, 255, 255, 0.5);}

picture .svg-container:hover svg {opacity: 1;}

picture .svg-container svg {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.4s;
    transform: translate(-50%, -50%);
    -ms-transform: translate(250%, -100%);
}

.container .price {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--Very-dark-blue-line);
}

.price p:first-of-type {color: var(--Cyan)}

.price svg {transform: translate(-20%, 15%);}

img.image-avatar {
    width: 30px;
    border: 1px solid var(--White);
    margin-right: 15px;
    border-radius: 50%;
}

footer p {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

@media (min-width: 1080px) {
    .container {
        width: 320px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--White);
}

.attribution a {color: hsl(228, 45%, 44%);}